@model legaliteNET.Models.asesore

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Eliminar</title>
</head>
<body>


    <section id="content" class="table-layout animated fadeIn">


        <div class="chute chute-center">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel">




                        <div class="panel-heading">
                            <span class="panel-title hidden-xs">¿ESTA SEGURO DE ELIMINAR ASESOR?</span>
                        </div>
                        <div class="panel-body pn">



                            <dl class="dl-horizontal">
                                <dt>
                                    Nombre de Usuario
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.nombreusuario)
                                </dd>

                                <dt>
                                    Password
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.password)
                                </dd>

                                <dt>
                                    Nivel
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.nivel)
                                </dd>

                                <dt>
                                    Nombre
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.nombre)
                                </dd>

                                <dt>
                                    Salario Basico
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.salariobasico)
                                </dd>

                                <dt>
                                    Costo Diario
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.costodiario)
                                </dd>

                                <dt>
                                    Costo Hora
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.costohora)
                                </dd>

                            </dl>




                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Eliminar" class="btn btn-bordered btn-primary pull-left" />


                                    <button type="submit" class="btn btn-bordered btn-primary pull-right">@Html.ActionLink("Salir ", "Index")</button>

                                </div>
                            </div>

                        


                          

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
   
   
</body>
</html>
