@model IEnumerable<legaliteNET.Models.asesore>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cree nuevo asesor</title>
</head>
<body>




    <p> <br />
        @Html.ActionLink("CREAR NUEVO ASESOR", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                NOMBRE DE USUARIO
            </th>
            <th>
              PASSWORD
            </th>
            <th>
               NIVEL
            </th>
            <th>
               NOMBRE
            </th>
            <th>
              SALARIO BASICO
            </th>
            <th>
             COSTO DIARIO
            </th>
            <th>
                COSTO POR HORA
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombreusuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nivel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salariobasico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.costodiario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.costohora)
            </td>
            <td>

                <button type="button" class="btn btn-info">@Html.ActionLink("EDITAR", "Edit", new { id = item.idasesor })</button>
                <button type="button" class="btn btn-info">@Html.ActionLink("DETALLES", "Details", new { id = item.idasesor })</button>
                <button type="button" class="btn btn-info">@Html.ActionLink("ELIMINAR", "Delete", new { id = item.idasesor })</button>
     
          
           
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
