@model legaliteNET.Models.asesore

@{
    ViewBag.Title = "logIn";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


    <div class="allcp-form theme-primary mw320" id="login">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    if (Html.ValidationSummary(true) != null)
    {
        <script>
              $.Notify({
                        caption: 'Problema al iniciar sesión',
                        content: 'Revisa tus datos y vuelve a intentarlo',
                        type: 'alert'
                        });</script>
    }
        <div class="text-center mb20">
            <img src="~/assets/img/letrero.png" class="img-responsive"
                 alt="Logo" />
        </div>
        <div class="panel mw320">
            <div class="panel-body pn mv10">

                <h3 class="text-light">Inicio de sesión</h3>





                <div>@Html.Label("Nombre de usuario") </div>
                <div class="section">
                   

                    <label for="nombredeusurio" class="field prepend-icon">

                        @Html.EditorFor(model => model.nombreusuario, new { htmlAttributes = new { @class = "gui-input" } })
                        @Html.ValidationMessageFor(model => model.nombreusuario)

                        <label for="nombredeusuario" class="field-icon">
                            <i class="fa fa-user"></i>
                        </label>
                    </label>
                </div>


             

                <div>@Html.Label("Password") </div>

                <div class="section">
                    

                    <label for="password" class="field prepend-icon">

                        @Html.PasswordFor(model => model.password, new { @class = "gui-input" } )
                        @Html.ValidationMessageFor(model => model.password)

                        <label for="password" class="field-icon">
                            <i class="fa fa-lock"></i>
                        </label>
                    </label>
                </div>


            </div>



            <div class="row">
                <div class="col-md-4">
                    <button type="submit" class="btn btn-bordered btn-primary pull-left">Entrar</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">

                    @Html.ValidationSummary(true, "Favor verificar, datos errones")


                </div>

            </div>


        </div>

}
</div>

@if (Request.IsAuthenticated)
{
    @Html.Raw("LOL");
}


