@model legaliteNET.Models.asesore

@{
    ViewBag.Title = "logIn";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


    <div class="allcp-form theme-primary mw320" id="login">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    if (Html.ValidationSummary(true) != null)
    {
        <script>
              $.Notify({
                        caption: 'Problema al iniciar sesión',
                        content: 'Revisa tus datos y vuelve a intentarlo',
                        type: 'alert'
                        });</script>
    }
        <div class="text-center mb20">
            <img src="~/assets/img/logo_login_form.png" class="img-responsive"
                 alt="Logo" />
        </div>
        <div class="panel mw320">
            <div class="panel-body pn mv10">

                <h1 class="text-light">Inicio de sesión</h1>
                <div>@Html.Label("Nombre de usuario") </div>
                <div class="input-control text full-size" data-role="input">
                    <label for="Documento">Documento</label>
                    @Html.EditorFor(model => model.nombreusuario, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.nombreusuario)
                    <button class="button helper-button clear"><span class="mif-cross"></span></button>
                </div>

                <div>@Html.Label("Contraseña") </div>
                <div class="section">
                    <div class="input-control password full-size" data-role="input">
                    <label for="Contrasena">Contraseña</label>
                    @Html.PasswordFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.password)
                    <button class="button helper-button reveal"><span class="mif-looks"></span></button>
                </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                     <button type="submit" class="btn btn-bordered btn-primary pull-left">Entrar</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @Html.ValidationSummary(true, "Favor verificar, datos erroneos")
                    </div>
                </div>
            </div>

        </div>
}
</div>

@if (Request.IsAuthenticated)
{
    @Html.Raw("LOL");
}


